<!-- Screen Header -->
<div class="card">
    <h5 class="card-header">{{ 'ADD_VISITOR' | translate }}</h5>
</div>
<!-- Screen Header -->

<!-- Loading Spinner -->
<div *ngIf="isLoading" class="spinner-grow" role="status">
    <span class="sr-only">{{ 'LOADING' | translate }}...</span>
</div>

<!-- Form -->
<form class="card p-4" *ngIf="!isLoading" [formGroup]="currentForm" (ngSubmit)="onSubmit()">
    <!-- Form Fields -->
    <div class="row">
        <!-- First Name -->
        <div class="form-group col-md-6 col-12">
            <label for="firstName">{{ 'FIRST_NAME' | translate }}</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName" required />
            <small *ngIf="currentForm.get('firstName').hasError('required') && currentForm.get('firstName').touched"
                class="form-text text-danger">{{ 'REQUIRED_FIELD' | translate }}</small>
        </div>

        <!-- Last Name -->
        <div class="form-group col-md-6 col-12">
            <label for="lastName">{{ 'LAST_NAME' | translate }}</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName" required />
            <small *ngIf="currentForm.get('lastName').hasError('required') && currentForm.get('lastName').touched"
                class="form-text text-danger">{{ 'REQUIRED_FIELD' | translate }}</small>
        </div>

        <!-- Visit Date -->
        <div class="form-group col-md-6 col-12">
            <label for="visitDate">{{ 'VISIT_DATE' | translate }}</label>
            <input type="date" id="visitDate" class="form-control" formControlName="visitDate" required />
            <small *ngIf="currentForm.get('visitDate').hasError('required') && currentForm.get('visitDate').touched"
                class="form-text text-danger">{{ 'REQUIRED_FIELD' | translate }}</small>
        </div>

        <!-- Phone -->
        <div class="form-group col-md-6 col-12">
            <label for="phone">{{ 'PHONE' | translate }}</label>
            <input type="text" id="phone" class="form-control" formControlName="phone" required />
            <small *ngIf="currentForm.get('phone').hasError('required') && currentForm.get('phone').touched"
                class="form-text text-danger">{{ 'REQUIRED_FIELD' | translate }}</small>
        </div>

        <!-- Email -->
        <div class="form-group col-md-6 col-12">
            <label for="email">{{ 'EMAIL' | translate }}</label>
            <input type="email" id="email" class="form-control" formControlName="email" required />
            <small *ngIf="currentForm.get('email').hasError('required') && currentForm.get('email').touched"
                class="form-text text-danger">{{ 'REQUIRED_FIELD' | translate }}</small>
        </div>

        <!-- Invitation Status -->
        <div class="form-group col-md-6 col-12">
            <label class="form-label" for="invitationStatus">{{ 'STATUS' | translate }}</label>
            <select id="invitationStatus" class="form-control" formControlName="invitationStatus">
                <option [value]="1">{{ 'DISABLED' | translate }}</option>
                <option [value]="2">{{ 'APPROVED' | translate }}</option>
            </select>
            <small
                *ngIf="currentForm.get('invitationStatus').hasError('required') && currentForm.get('invitationStatus').touched"
                class="form-text text-danger">{{ 'REQUIRED_FIELD' | translate }}</small>
        </div>

        <!-- Invitation Code -->
        <div class="form-group col-md-6 col-12">
            <label for="invitationCode">{{ 'INVITATION_CODE' | translate }}</label>
            <input type="text" id="invitationCode" class="form-control" formControlName="invitationCode" required />
            <small
                *ngIf="currentForm.get('invitationCode').hasError('required') && currentForm.get('invitationCode').touched"
                class="form-text text-danger">{{ 'REQUIRED_FIELD' | translate }}</small>
        </div>

        <!-- Upload File -->
        <div class="form-group col-md-6 col-12">
            <fieldset class="form-group">
                <label for="file-upload-single">{{ 'SELECT_IMAGE' | translate }}</label>
                <div class="custom-file">
                    <input type="file" accept="image/*" class="custom-file-input" (change)="onFileSelected($event)"
                        id="file-upload-single" />
                    <label class="custom-file-label">{{ 'CHOOSE_FILE' | translate }}</label>
                </div>
            </fieldset>
            <div *ngIf="selectedFile">
                <img [src]="selectedFile || 'image'" alt="{{ 'IMAGE' | translate }}"
                    style="width: 200px; height: 200px;" />
                <button type="button" class="btn btn-danger btn-sm round m-1" rippleEffect (click)="deleteImage()">
                    <i class="feather icon-x"></i>
                </button>
            </div>
            <small *ngIf="currentForm.get('image').hasError('required') && !selectedFile" class="form-text text-danger">
                {{ 'REQUIRED_FIELD' | translate }}
            </small>
        </div>
    </div>
</form>

<!-- Actions -->
<div>
    <button type="submit" rippleEffect class=" btn btn-primary col-3 mr-2" (click)="onSubmit()">
        {{ 'SUBMIT' | translate }}
    </button>
    <button type="reset" rippleEffect class="btn btn-outline-secondary col-3" (click)="back()">
        {{ 'CANCEL' | translate }}
    </button>
</div>