<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="compounds-preview-wrapper">
      <div class="row compounds-preview">
        <!-- Invoice -->
        <div class="col-xl-12 col-md-8 col-12 printRef">
          <div class="card compounds-preview-card">
            <div class="card-body compounds-padding pb-0">
              <div class="mt-md-0 mt-2">
                <h4 class="compounds-title">
                  Compounds
                  <hr class="compounds-spacing" />

                  <span class="compounds-number">#{{ apiData.id }}</span>
                </h4>
                <div class="compounds-date-wrapper">
                  <p class="compounds-date-title">Compounds English Name:</p>
                  <p class="compounds-date">{{apiData }}</p>
                </div>
                <div class="compounds-date-wrapper">
                  <p class="compounds-date-title">Compounds Arabic Name:</p>
                  <p class="compounds-date">{{apiData }}</p>
                </div>
                <div class="compounds-date-wrapper">
                  <p class="compounds-date-title">Educational Stage:</p>
                  <p class="compounds-date">{{ apiData.dueDate }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>