<div class="flex w-[285px] flex-row items-center justify-start gap-2 rounded-lg bg-[#FAFAFA] py-3 pl-3.5 pr-[7px]">
  <div class="flex h-[20px] w-[20px] flex-row items-center justify-center" style="width: 20px">
    <svg
      width="20"
      height="20"
      viewBox="0 0 20 20"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M9.58366 17.4998C13.9559 17.4998 17.5003 13.9554 17.5003 9.58317C17.5003 5.21092 13.9559 1.6665 9.58366 1.6665C5.2114 1.6665 1.66699 5.21092 1.66699 9.58317C1.66699 13.9554 5.2114 17.4998 9.58366 17.4998Z"
        stroke="#8E8E8E"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
      <path
        d="M18.3337 18.3332L16.667 16.6665"
        stroke="#8E8E8E"
        stroke-width="1.5"
        stroke-linecap="round"
        stroke-linejoin="round"
      />
    </svg>
  </div>
  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Start typing to search..."
    class="flex-1 text-xs text-gray-300 bg-transparent appearance-none outline-none placeholder:text-light-200"
  />
</div>
