<h1 class="py-1.5 text-2xl capitalize text-gray-700">
  {{ "manage_companies" | translate }}
</h1>

<app-breadcrumb-pages [breadcrumbs]="breadcrumbs"></app-breadcrumb-pages>

<div class="mt-6 bg-white rounded-2xl">
  <div class="flex justify-between items-center p-4">
    <app-search-bar></app-search-bar>

    <div class="flex gap-3 justify-between items-center">
      <app-button
        label="Add Company"
        [icon]="'assets/images/icons/add.svg'"
        [bgColor]="'bg-primary hover:bg-opacity-90'"
        [textColor]="'text-white'"
        [isTransparent]="false"
        [borderColor]="'border-transparent'"
      >
      </app-button>
      <app-button
        label="Filters"
        [bgColor]="'bg-transparent'"
        [borderColor]="'border border-light-300'"
        [isTransparent]="true"
      >
      </app-button>
      <app-button
        label="Export"
        [icon]="'assets/images/icons/export.svg'"
        [bgColor]="'bg-gray-600 hover:bg-opacity-90'"
        [textColor]="'text-white'"
        [isTransparent]="false"
        [borderColor]="'border-transparent'"
      >
      </app-button>
    </div>
  </div>
  <app-table
    [headers]="headers"
    [data]="data"
    [headerMapping]="headerMapping"
  ></app-table>
</div>
