<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section class="coorperates-preview-wrapper">
      <div class="row coorperates-preview">
        <!-- Invoice -->
        <div class="col-xl-12 col-md-8 col-12 printRef">
          <div class="card coorperates-preview-card">
            <div class="card-body coorperates-padding pb-0">
              <div class="mt-md-0 mt-2">
                <h4 class="coorperates-title">
                  coorperates
                  <hr class="coorperates-spacing" />

                  <span class="coorperates-number">#{{ apiData.id }}</span>
                </h4>
                <div class="coorperates-date-wrapper">
                  <p class="coorperates-date-title">coorperates English Name:</p>
                  <p class="coorperates-date">{{apiData }}</p>
                </div>
                <div class="coorperates-date-wrapper">
                  <p class="coorperates-date-title">coorperates Arabic Name:</p>
                  <p class="coorperates-date">{{apiData }}</p>
                </div>
                <div class="coorperates-date-wrapper">
                  <p class="coorperates-date-title">Educational Stage:</p>
                  <p class="coorperates-date">{{ apiData.dueDate }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

</div>