<div class="flex overflow-hidden h-screen">
  <!-- MENU -->
  <ng-container *ngTemplateOutlet="menu"></ng-container>
  <!--/ MENU -->

  <div class="flex overflow-y-auto overflow-x-hidden relative flex-col flex-1">
    <!-- NAVBAR -->
    <ng-container *ngTemplateOutlet="navbar"></ng-container>
    <!--/ NAVBAR -->
    <!-- APP-CONTENT -->
    <div class="app-content content">
      <div class="content-overlay"></div>
      <div
        class="header-navbar-shadow"
        *ngIf="!coreConfig.layout.navbar.hidden"
      ></div>
      <!-- CONTENT -->
      <content></content>
      <!--/ CONTENT -->
    </div>
    <!--/ APP-CONTENT -->

    <!-- FOOTER -->
    <ng-container *ngTemplateOutlet="footer"></ng-container>
    <!--/ FOOTER -->
  </div>

  <!-- PARTIALS ---------------------------------------------------------------------------------------- -->
  <!-- MENU -->

  <ng-template #menu>
    <core-sidebar
      name="menu"
      [collapsed]="coreConfig.layout.menu.collapsed"
      collapsibleSidebar="bs-gt-xl"
      *ngIf="!coreConfig.layout.menu.hidden"
      class="flex overflow-y-hidden absolute top-0 left-0 flex-col w-80 h-screen bg-black duration-300 ease-linear -translate-x-full z-9999 dark:bg-boxdark lg:static lg:translate-x-0"
      overlayClass="sidenav-overlay"
      [ngClass]="[
        coreConfig.layout.skin === 'semi-dark' ||
        coreConfig.layout.skin === 'dark'
          ? 'menu-dark'
          : 'menu-light',
        coreConfig.layout.menu.collapsed ? '' : 'expanded'
      ]"
    >
      <app-menu menuType="vertical-menu" class="vertical-menu"></app-menu>
    </core-sidebar>
  </ng-template>
  <!--/ MENU -->

  <!-- NAVBAR -->
  <ng-template #navbar>
    <app-navbar
      *ngIf="!coreConfig.layout.navbar.hidden"
      [ngClass]="[
        coreConfig.layout.navbar.customBackgroundColor === true
          ? coreConfig.layout.navbar.background +
            ' ' +
            coreConfig.layout.navbar.type +
            ' ' +
            coreConfig.layout.navbar.backgroundColor
          : coreConfig.layout.navbar.background +
            ' ' +
            coreConfig.layout.navbar.type,
        coreConfig.layout.navbar.type === 'floating-nav' ? 'container-xxl' : ''
      ]"
      class="header-navbar"
      [dir]="coreConfig.app.appLanguage === 'en' ? 'ltr' : 'rtl'"
    >
    </app-navbar>
  </ng-template>
  <!--/ NAVBAR -->

  <!-- FOOTER -->
  <ng-template #footer>
    <footer
      *ngIf="!coreConfig.layout.footer.hidden"
      class="footer"
      [ngClass]="
        coreConfig.layout.footer.customBackgroundColor === true
          ? coreConfig.layout.footer.background +
            ' ' +
            coreConfig.layout.footer.type +
            ' ' +
            coreConfig.layout.footer.backgroundColor
          : coreConfig.layout.footer.background +
            ' ' +
            coreConfig.layout.footer.type
      "
    ></footer>
  </ng-template>
  <!-- / FOOTER -->
</div>
