@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 256 58% 99%;
    --foreground: 256 56% 1%;
    --muted: 16 30% 87%;
    --muted-foreground: 16 10% 39%;
    --popover: 256 58% 99%;
    --popover-foreground: 256 56% 1%;
    --card: 256 58% 99%;
    --card-foreground: 256 56% 1%;
    --border: 256 10% 91%;
    --input: 256 10% 91%;
    --primary: 256 61% 79%;
    --primary-foreground: 256 61% 19%;
    --secondary: 16 61% 79%;
    --secondary-foreground: 16 61% 19%;
    --accent: 136 61% 79%;
    --accent-foreground: 136 61% 19%;
    --destructive: 0 88% 27%;
    --destructive-foreground: 0 88% 87%;
    --ring: 256 61% 79%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 256 55% 3%;
    --foreground: 256 14% 100%;
    --muted: 16 30% 13%;
    --muted-foreground: 16 10% 61%;
    --popover: 256 55% 3%;
    --popover-foreground: 256 14% 100%;
    --card: 256 55% 3%;
    --card-foreground: 256 14% 100%;
    --border: 256 10% 10%;
    --input: 256 10% 10%;
    --primary: 256 61% 79%;
    --primary-foreground: 256 61% 19%;
    --secondary: 16 61% 79%;
    --secondary-foreground: 16 61% 19%;
    --accent: 136 61% 79%;
    --accent-foreground: 136 61% 19%;
    --destructive: 0 88% 53%;
    --destructive-foreground: 0 0% 100%;
    --ring: 256 61% 79%;
  }
}

@layer base {
  body {
    @apply scroll-smooth antialiased;
  }

  /* ::selection {
    @apply bg-primary;
  } */

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px hsl(var(--background)) inset !important;
    box-shadow: 0 0 0 1000px hsl(var(--background)) inset !important;
    -webkit-text-fill-color: hsl(var(--foreground)) !important;
  }

  .flexCenter {
    @apply flex items-center justify-start gap-2;
  }
  .auth-form-parent {
    @apply h-[824px] w-1/2 px-10 pt-20;
  }
  .auth-form-container {
    @apply flex flex-col items-center justify-start gap-4 h-full pb-6;
  }
  .auth-submit-btn {
    @apply mt-3 w-full rounded-lg bg-primary py-3 text-center text-white transition-all hover:bg-primaryLight;
  }
  .errorMsg {
    @apply text-xs text-red-500 flex items-center mt-1.5 gap-1 w-full;
  }
  .heading2 {
    @apply text-black-100 text-2xl font-medium capitalize;
  }
  .heading3 {
    @apply text-primary text-xl font-bold capitalize;
  }
  .textRegular {
    @apply text-gray-900 text-sm;
  }
  .content-height {
    @apply min-h-[calc(100vh-260px)];
  }
  .inputLabel {
    @apply text-dark mb-1.5 block text-sm font-medium capitalize;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* .header-actions {
  @apply flex bg-red-200;
} */

.react-datepicker-wrapper{
  width: 100%;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}