<ng-container *ngIf="!item.hidden">
  <!-- Collapsible title -->
  <a
    class="flex gap-3 items-center px-3 py-2.5"
    [ngClass]="item.classes"
    *ngIf="!item.url"
    (click)="toggleOpen($event)"
  >
    <ng-container *ngTemplateOutlet="itemContent"></ng-container>
  </a>

  <!-- ItemContent template -->
  <ng-template #itemContent>
    <img
      *ngIf="item.icon"
      [src]="isActive(item) ? item.iconActive : item.icon"
      class="nav-icon here"
      width="20"
    />
    <span class="menu-title text-truncate" [translate]="item.translate">{{
      item.title
    }}</span>
    <span
      class="mr-1 ml-auto badge"
      *ngIf="item.badge"
      [translate]="item.badge.translate"
      [ngClass]="item.badge.classes"
    >
      {{ item.badge.title }}
    </span>
    <img
      [src]="'assets/images/icons/arrow-down.svg'"
      alt="arrow down"
      class="ms-auto group-[.is-published]:rotate-180 transition-all"
    />
  </ng-template>

  <!-- Sub-menu item/collapsible -->
  <ul
    class="menu-content hidden group-[.is-published]:block"
    *ngIf="!item.hidden"
  >
    <ng-container *ngFor="let subItem of item.children">
      <!-- Item -->
      <li
        core-menu-vertical-item
        [item]="subItem"
        *ngIf="subItem.type === 'item' && !subItem.hidden"
        [ngClass]="{ disabled: subItem.disabled === true }"
        [routerLinkActive]="!subItem.openInNewTab ? 'group is-active' : ''"
        [routerLinkActiveOptions]="{ exact: subItem.exactMatch || false }"
      >
        <span
          [routerLink]="subItem.openInNewTab ? [] : [subItem.url]"
          class="d-none"
        ></span>
      </li>

      <!-- Collapsible -->
      <li
        core-menu-vertical-collapsible
        [item]="subItem"
        *ngIf="subItem.type === 'collapsible' && !subItem.hidden"
        class="nav-item has-sub"
      ></li>
    </ng-container>
  </ul>
</ng-container>
