<!-- <div *ngIf="horizontalMenu" class="navbar-header d-xl-block d-none">
  <ul class="flex-row nav navbar-nav">
    <li class="nav-item">
      <a class="navbar-brand" [routerLink]="['/']">
        <span class="brand-logo">
          <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" width="36" />
        </span>
        <h2 class="mb-0 brand-text">{{ coreConfig.app.appName }}</h2>
      </a>
    </li>
  </ul>
</div>

<div class="flex bg-white">
  <div class="flex items-center bookmark-wrapper">
    
    <ul class="nav navbar-nav d-xl-none" *ngIf="!coreConfig.layout.menu.hidden">
      <li class="nav-item">
        <a class="nav-link menu-toggle" (click)="toggleSidebar('menu')">
          <span [data-feather]="'menu'" [class]="'ficon'"></span>
        </a>
      </li>
    </ul>
    

    
    <li class="nav-item d-none d-lg-block">
      <a type="button" class="nav-link nav-link-style btn" (click)="toggleDarkSkin()">
        <span [ngClass]="currentSkin === 'dark' ? 'icon-sun' : 'icon-moon'" class="ficon font-medium-5 feather"></span>
      </a>
    </li>
    
  </div>

  <ul class="ml-auto nav navbar-nav align-items-center">
    
    <li ngbDropdown class="nav-item dropdown dropdown-language">
      <a class="nav-link dropdown-toggle" id="dropdown-flag" ngbDropdownToggle>
        <i class="flag-icon flag-icon-{{ languageOptions[_translateService.currentLang].flag }}"></i><span
          class="selected-language">{{ languageOptions[_translateService.currentLang].title }}</span></a>
      <div ngbDropdownMenu aria-labelledby="dropdown-flag">
        <a *ngFor="let lang of _translateService.getLangs()" ngbDropdownItem (click)="setLanguage(lang)">
          <i class="flag-icon flag-icon-{{ languageOptions[lang].flag }}"></i> {{ languageOptions[lang].title }}
        </a>
      </div>
    </li>
    

    
    <li ngbDropdown class="nav-item dropdown-user">
      <a class="nav-link dropdown-toggle dropdown-user-link" id="dropdown-user" ngbDropdownToggle
        id="navbarUserDropdown" aria-haspopup="true" aria-expanded="false">
        <div class="user-nav d-sm-flex d-none">
          <span class="user-name font-weight-bolder">John Doe</span><span class="user-status">Sample</span>
        </div>
        <span class="avatar"><img class="round" src="../../../../assets/images/portrait/small/avatar-s-11.jpg"
            alt="avatar" height="40" width="40" /><span class="avatar-status-online"></span></span>
      </a>
      <div ngbDropdownMenu aria-labelledby="navbarUserDropdown" class="dropdown-menu dropdown-menu-right">
        <a ngbDropdownItem [routerLink]="['/']"><span [data-feather]="'user'" [class]="'mr-50'"></span> Profile</a><a
          ngbDropdownItem [routerLink]="['/']"><span [data-feather]="'mail'" [class]="'mr-50'"></span> Inbox</a>
        <a ngbDropdownItem [routerLink]="['/']"><span [data-feather]="'check-square'" [class]="'mr-50'"></span> Task
        </a><a ngbDropdownItem [routerLink]="['/']"><span [data-feather]="'message-square'" [class]="'mr-50'"></span>
          Chats</a>
        <div class="dropdown-divider"></div>
        <a ngbDropdownItem [routerLink]="['/pages/authentication/login']"><span [data-feather]="'power'"
            [class]="'mr-50'"></span> Logout</a>
      </div>
    </li>
    
  </ul>
</div> -->

<div class="px-6 py-4 bg-white shadow-custom">
  <div class="flex justify-between items-center">
    <div>
      <!-- [formGroup]="forgetPasswordForm" -->
      <!-- (ngSubmit)="onSubmit()" -->
      <form class="flex flex-col gap-4 w-full">
        <app-input-with-label
          label=""
          type="search"
          placeholder="Start typing to search..."
          formControlName="search"
          [required]="true"
          icon="assets/images/icons/search.svg"
        ></app-input-with-label>
      </form>
    </div>
    <div>
      <ul class="flex space-x-4 divide-x divide-gray-400">
        <li class="relative ps-4">
          <div
            class="flex gap-2 justify-between items-center h-full cursor-pointer"
            (click)="toggleDropdown()"
          >
            <img
              [src]="languageOptions[_translateService.currentLang].flag"
              class="w-5 h-5"
              alt="Flag"
            />
            <span class="text-sm font-medium font-Jost">
              {{ languageOptions[_translateService.currentLang].title }}
            </span>
            <span>
              <img
                src="/assets/images/icons/chevron-down.svg"
                class="w-4 h-4"
                alt="Dropdown icon"
              />
            </span>
          </div>

          <!-- Dropdown Menu -->
          <ul
            class="absolute right-0 py-2 mt-2 w-36 bg-white rounded-md shadow-md transition-opacity duration-200"
            *ngIf="dropdownOpen"
          >
            <li
              *ngFor="let lang of _translateService.getLangs()"
              class="flex gap-2 items-center px-4 py-2 cursor-pointer hover:bg-gray-100"
              (click)="setLanguage(lang); toggleDropdown()"
            >
              <img
                [src]="languageOptions[lang].flag"
                class="w-5 h-5"
                alt="Flag"
              />
              <span class="text-sm">{{ languageOptions[lang].title }}</span>
            </li>
          </ul>
        </li>
        <li class="ps-4">
          <div
            class="flex gap-2 justify-center items-center h-full cursor-pointer"
          >
            <span>
              <img [src]="'/assets/images/icons/notification.svg'" />
            </span>
          </div>
        </li>

        <li class="ps-4">
          <div
            class="flex gap-2 justify-between items-center h-full cursor-pointer"
          >
            <span
              class="flex justify-center items-center p-2 w-10 h-10 bg-gray-500 rounded-full"
            >
              <img [src]="'/assets/images/icons/user.svg'" />
            </span>
            <span class="text-sm font-medium font-Jost">Admin</span>
            <span>
              <img [src]="'/assets/images/icons/chevron-down.svg'" />
            </span>
          </div>
        </li>
        <li class="ps-4">
          <div
            class="flex gap-2 justify-center items-center h-full cursor-pointer"
          >
            <span>
              <img [src]="'/assets/images/icons/maximize.svg'" />
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
