<div class="flex min-h-screen items-center justify-center bg-gray-100 py-20">
  <div
    class="mx-auto flex w-full max-w-6xl overflow-hidden rounded-2xl bg-white"
  >
    <div class="h-[824px] w-1/2">
      <div class="px-14 pt-20">
        <div class="flex flex-col items-center justify-center gap-4">
          <img
            class="" [src]="'assets/images/logo/logo.webp'"
            alt="Logo"
            width="138"
            height="158"
          />
          <h2 class="text-center text-2xl font-medium leading-6 text-primary">
            Aiming to supply our customers all solutions needed during operation
          </h2>
          <p class="text-center text-black">
            Welcome back! Please login to your account.
          </p>
          <form
            [formGroup]="loginForm"
            (ngSubmit)="onSubmit()"
            class="flex w-full flex-col gap-4"
          >
            <app-input-with-label
              label="Username/Email"
              type="text"
              placeholder="Username/Email"
              formControlName="username"
              [required]="true"
              icon="assets/images/icons/user.svg"
            ></app-input-with-label>
            <app-input-with-label
              label="Password"
              type="password"
              placeholder="Password"
              formControlName="password"
              [required]="true"
              icon="assets/images/icons/lock.svg"
            ></app-input-with-label>
            <div class="flex justify-between">
              <div class="flex items-center gap-2">
                <input
                  type="checkbox"
                  id="remember-me"
                  formControlName="rememberMe"
                  class="peer hidden"
                />
                <img
                  [src]="'assets/images/icons/checkbox.svg'"
                  class="peer-checked:hidden"
                  width="24"
                />
                <img
                  [src]="'assets/images/icons/checkbox_checked.svg'"
                  class="hidden peer-checked:block"
                  width="24"
                />
                <label
                  for="remember-me"
                  class="select-none text-sm text-gray-300"
                >
                  Remember me
                </label>
              </div>
              <a href="/pages/authentication/forget" class="text-primaryLight hover:underline">Forgot Password?</a>
            </div>
            <button type="submit" class="mt-3 w-full rounded-lg bg-primary py-3 text-center text-white transition-all hover:bg-primaryLight">Sign In</button>
          </form>
        </div>
      </div>
    </div>
    <div class="relative w-1/2 overflow-hidden rounded-l-4xl">
      <img
        class="absolute inset-0 h-full w-full object-cover"
        [src]="'assets/images/pages/login.webp'"
        alt="Login Image"
      />
    </div>
  </div>
</div>
