<ng-container *ngIf="!item.hidden">
  <!-- item with router url -->
  <a
    class="flex gap-3 items-center px-3 py-2.5 group-[.is-active]:bg-primary rounded-lg"
    [ngClass]="item.classes"
    *ngIf="item.url && !item.externalUrl"
    [routerLink]="[item.url]"
    [target]="item.openInNewTab ? '_blank' : '_self'"
  >
    <ng-container *ngTemplateOutlet="itemContent"></ng-container>
  </a>

  <!-- item with external url -->
  <a
    class="flex gap-3 items-center px-3 py-2.5"
    [ngClass]="item.classes"
    *ngIf="item.url && item.externalUrl"
    [href]="item.url"
    [target]="item.openInNewTab ? '_blank' : '_self'"
  >
    <ng-container *ngTemplateOutlet="itemContent"></ng-container>
  </a>

  <ng-template #itemContent>
    <img *ngIf="item.icon" [src]="item.icon" class="nav-icon" width="20" />
    <span
      class="text-base font-medium text-gray-600 capitalize group-[.is-active]:text-white"
      [translate]="item.translate"
      >{{ item.title }}</span
    >
    <span
      class="mr-1 ml-auto badge"
      *ngIf="item.badge"
      [translate]="item.badge.translate"
      [ngClass]="item.badge.classes"
    >
      {{ item.badge.title }}
    </span>
  </ng-template>
</ng-container>
