<div class="flex min-h-screen items-center justify-center bg-gray-100 py-20">
  <div class="mx-auto flex w-full max-w-6xl overflow-hidden rounded-2xl bg-white">
    <div class="h-[824px] w-1/2">
      <div class="h-full px-14 pb-6 pt-20">
        <div class="flex h-full flex-col items-center justify-center gap-4">
          <img
            [src]="'assets/images/logo/logo.webp'"
            alt="Logo"
            width="138"
            height="158"
          />
          <h2 class="text-center text-2xl font-medium leading-6 text-primary">
            Forget your password?
          </h2>
          <p class="text-center text-black">
            Enter your email address and we'll send you a link to reset your password.
          </p>
          <form
            [formGroup]="forgetPasswordForm"
            (ngSubmit)="onSubmit()"
            class="flex w-full flex-col gap-4"
          >
            <app-input-with-label
              label="Email"
              type="email"
              placeholder="Enter your email"
              formControlName="email"
              [required]="true"
              icon="assets/images/icons/email.svg"
            ></app-input-with-label>
            <div *ngIf="submitted && forgetPasswordForm.get('email')?.invalid" class="text-red-500">
              Please enter a valid email address.
            </div>
            <button
              type="submit"
              class="mt-3 w-full rounded-lg bg-primary py-3 text-center text-white transition-all hover:bg-primaryLight"
              [disabled]="loading"
            >
              <span *ngIf="loading">Sending...</span>
              <span *ngIf="!loading">Send Verification Code</span>
            </button>
          </form>
          <a href="/pages/authentication/login" class="mt-auto flex items-center gap-4 transition-all hover:gap-6">
            <img [src]="'assets/images/icons/arrow-left.svg'" width="24" />
            Back to login
          </a>
        </div>
      </div>
    </div>
    <div class="relative w-1/2 overflow-hidden rounded-l-4xl">
      <img
        class="absolute inset-0 h-full w-full object-cover"
        [src]="'assets/images/pages/forget.webp'"
        alt="Forget Image"
      />
    </div>
  </div>
</div>
